.header {
    @extend %right-border;
    display: flex;
    position: relative;
    width: 100vw;

    &__sun {
        background-color: #FBF9F5;
        flex: 0 0 50%;
        overflow: hidden;
        position: relative;

        canvas {
            display: block;
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
        }
    }

    &__about {
        align-items: center;
        display: flex;
        flex: 0 0 50%;
        flex-direction: column;
        justify-content: center;
        overflow-y: auto;
        text-wrap: pretty;

        h1 {
            font-family: $font-serif;
            font-size: clamp( 18px, 3.8vw, 72px );
            font-weight: 400;
            letter-spacing: 2px;
            line-height: 1.2;
            padding: 16px $space-default;
            text-align: left;
            em {
                text-transform: none;
            }
        }

        p {
            font-family: $font-serif;
            font-size: 24px;
            line-height: 1.4;
        }
    }

    &__nav {
        bottom: 16px;
        left: 16px;
        position: absolute;
        z-index: 1;

        a {
            color: $color-default;
            display: block;
            font-family: $font-sans-serif;
            font-size: $font-small;
            line-height: 1.8;
        }
    }

    &__photo {
        border-radius: 50%;
        overflow: hidden;
        position: absolute;
        z-index: 2;

        img {
            display: block;
            height: 140px;
            object-fit: cover;
            width: 140px;
        }
    }

    @media ( max-width: $width-xlarge ) {
        &__about {
            p {
                font-size: 18px;
            }
        }

    }

    @media ( max-width: $width-large ) {
        width: 200dvw;

        &__sun,
        &__about {
            flex: 0 0 50%;
        }

        &__about {
            padding: $space-default;

            h1 {
                font-size: clamp( 28px, 7vw, 52px );
            }
        }

        &__photo {
            margin: $space-small 0;

            img {
                height: 180px;
                width: 140px;
            }
        }
        &__about {
            p {
                font-size: 20px;
            }
        }
    }
    
    // IPad Vertical
    @media ( min-width: 600px ) and ( max-width: 900px ) {
        &__about {
            h1 {
                font-size: 64px;
            }
            p {
                font-size: 24px;
            }
        }
        &__photo {
            img {
                height: 360px;
                width: auto;
            }
        }
    }

    @media ( max-width: $width-small ) {
        &__about {
            h1 {
                font-size: clamp( 24px, 8vw, 40px );
            }

            p {
                font-size: 16px;
            }
        }
    }
}