/******************************************************
 * 01 BASE
 ******************************************************/
.elsewhere, .about, .quote, .portfolio__role, .portfolio, .header {
  border-right: 1px solid #cccccc;
}

@font-face {
  font-family: "pp_pangaialight";
  src: url("/assets/pppangaia-light-webfont.woff2") format("woff2"), url("/assets/pppangaia-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "pp_neue_montrealregular";
  src: url("/assets/ppneuemontreal-regular-webfont.woff2") format("woff2"), url("/assets/ppneuemontreal-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "pp_neue_montrealbold";
  src: url("/assets/ppneuemontreal-bold-webfont.woff2") format("woff2"), url("/assets/ppneuemontreal-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #2c2c2c;
  font-family: "pp_neue_montrealregular", Helvetica, sans-serif;
  font-size: 18px;
  height: 100vh;
  line-height: 1.4;
  overflow-y: hidden;
  overflow-x: scroll;
}

a {
  color: black;
  text-decoration: none;
}

h1 {
  font-family: "pp_pangaialight", Georgia, serif;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}

h2 {
  color: #6c6c6c;
  display: flex;
  font-size: 14px;
  gap: 8px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
}

h3 {
  font-family: "pp_pangaialight", Georgia, serif;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 1.4px;
  padding: 4px 0 12px 0;
}

p {
  font-size: 18px;
  font-size: "pp_neue_montrealregular", Helvetica, sans-serif;
}

h2 strong,
p strong {
  font-family: "pp_neue_montrealbold", Helvetica, sans-serif;
  font-weight: 700;
}

.text-serif {
  font-family: "pp_pangaialight", Georgia, serif;
}

/******************************************************
 * 02 COMPONENTS
 ******************************************************/
/******************************************************
* 03 LAYOUTS
******************************************************/
.width-xsmall {
  width: 320px;
}

.width-small {
  width: 480px;
}
@media (max-width: 480px) {
  .width-small {
    width: 100dvw;
  }
}
@media (max-height: 360px) {
  .width-small {
    width: 100dvw;
  }
}

.width-medium {
  width: 768px;
}

.width-large {
  width: 1024px;
}
@media (max-width: 480px) {
  .width-large {
    width: 170dvw;
  }
}

.width-xlarge {
  width: 1280px;
}
@media (max-width: 480px) {
  .width-xlarge {
    width: 170dvw;
  }
}

.width-full {
  width: 100vw;
}

/******************************************************
 * 04 PAGES
 ******************************************************/
.header {
  align-items: center;
  display: flex;
  justify-content: center;
  width: calc(100vw - 24px);
}
.header a {
  color: white;
  text-decoration: none;
}
.header h1 {
  padding-left: 24px;
}
@media (max-width: 480px) {
  .header {
    width: calc(100dvw - 24px);
  }
  .header h1 {
    font-size: 18px;
  }
}

.portfolio {
  display: flex;
  margin: 24px 0;
}
.portfolio__role {
  display: flex;
  height: 100%;
  padding: 48px;
}
.portfolio__role h2 {
  transform: rotate(180deg);
  writing-mode: vertical-rl;
}
.portfolio__content {
  display: flex;
  padding: 48px;
}
.portfolio__content__media {
  align-items: center;
  flex: 1;
  overflow: hidden;
  display: flex;
  justify-content: center;
  width: 100%;
}
.portfolio__content__media picture,
.portfolio__content__media img,
.portfolio__content__media video {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
@media (max-width: 480px) {
  .portfolio h3 {
    font-size: 24px;
  }
  .portfolio h2,
  .portfolio p {
    font-size: 14px;
  }
  .portfolio__role, .portfolio__content {
    padding: 24px;
  }
}
@media (max-height: 400px) {
  .portfolio__content p {
    display: none;
  }
}

.layout-stacked {
  flex-direction: column;
}
.layout-stacked .portfolio__content__media {
  padding-bottom: 24px;
}
@media (max-height: 360px) {
  .layout-stacked {
    flex-direction: row;
  }
  .layout-stacked h3 {
    padding-left: 24px;
    width: 50%;
  }
  .layout-stacked .portfolio__content__media {
    padding-bottom: 0;
    width: 50%;
  }
}

.layout-split .portfolio__content__media {
  padding-right: 48px;
  width: 75%;
}
.layout-split .portfolio__content__media video {
  border-radius: 36px;
}
.layout-split .portfolio__content__text {
  width: 25%;
}
@media (max-width: 480px) {
  .layout-split .portfolio__content__media {
    padding-right: 24px;
    width: 65%;
  }
  .layout-split .portfolio__content__text {
    width: 35%;
  }
}

.onion img,
.onion picture {
  border-top-right-radius: 36px;
}

.vox .portfolio__content__media video {
  border-bottom-right-radius: 0;
}
@media (max-width: 1210px) {
  .vox .portfolio__content__text {
    width: 30%;
  }
  .vox .portfolio__content__media {
    width: 70%;
  }
}
@media (max-height: 740px) {
  .vox .portfolio__content__text {
    width: 40%;
  }
  .vox .portfolio__content__media {
    width: 60%;
  }
}

.nyt .portfolio__content__media img,
.nyt .portfolio__content__media picture {
  -o-object-fit: contain;
     object-fit: contain;
}

.usat .portfolio__content__text {
  margin-top: auto;
}
.usat .portfolio__content__media {
  padding: 0 0 0 48px;
}
.usat .portfolio__content__media picture,
.usat .portfolio__content__media img {
  border-radius: 36px;
  border-bottom-left-radius: 0;
}
@media (max-width: 1210px) {
  .usat .portfolio__content__text {
    width: 40%;
  }
  .usat .portfolio__content__media {
    width: 60%;
  }
}
@media (max-width: 480px) {
  .usat .portfolio__content__media {
    padding-left: 24px;
  }
}

.verge .portfolio__content__media img,
.verge .portfolio__content__media picture {
  -o-object-position: bottom;
     object-position: bottom;
}

.nytmag .portfolio__content__media {
  padding-bottom: 0;
  padding-top: 48px;
}
.nytmag .portfolio__content__media video {
  border-top-right-radius: 36px;
  -o-object-position: top;
     object-position: top;
}
@media (max-height: 360px) {
  .nytmag .portfolio__content__media {
    padding-left: 24px;
  }
}

.quote {
  align-items: center;
  display: flex;
  font-family: "pp_pangaialight", Georgia, serif;
  font-size: 32px;
  justify-content: center;
  padding: 48px 64px;
  width: 1280px;
}
.quote blockquote {
  max-width: 65%;
}
.quote cite a {
  color: #6c6c6c;
}
@media (max-width: 480px) {
  .quote {
    font-size: 24px;
    width: 150dvw;
  }
  .quote blockquote {
    width: 100%;
  }
}

.about {
  display: flex;
  margin: 24px 0;
  padding: 48px;
}
.about h2 {
  margin-bottom: 24px;
}
@media (max-width: 480px) {
  .about {
    padding: 24px;
    width: 100dvw;
  }
}
@media (max-height: 360px) {
  .about p {
    padding-left: 24px;
  }
}

.elsewhere {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 48px 0;
}
.elsewhere h2 {
  padding: 24px 48px 0 48px;
}
.elsewhere a {
  display: block;
  padding: 0 48px;
}
@media (max-width: 480px) {
  .elsewhere {
    width: 100dvw;
    padding: 24px 0 48px 0;
  }
  .elsewhere h2,
  .elsewhere a {
    font-size: 16px;
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media (max-height: 360px) {
  .elsewhere {
    flex-direction: column;
    flex-wrap: wrap;
    width: 100dvw;
  }
  .elsewhere p {
    width: 50dvw;
  }
}

.footer {
  background-color: #575b3e;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  display: flex;
  height: 100%;
  padding: 48px;
}
.footer p {
  text-orientation: mixed;
  transform: rotate(180deg);
  writing-mode: vertical-rl;
}
.footer a {
  color: white;
}

/******************************************************
 * 03 Sections
 ******************************************************/
.container {
  display: flex;
  height: 100vh;
  width: -moz-max-content;
  width: max-content;
}
@media (pointer: coarse) {
  .container {
    height: 100svh;
  }
}

/******************************************************
 * 09 About
 ******************************************************/
.image-container {
  flex: 1;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0 24px 0;
  width: 100%;
}
.image-container picture,
.image-container img,
.image-container video {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.vertical-text {
  background-color: #575b3e;
  height: 100vh;
  padding: 0 48px;
  text-align: center;
  text-orientation: mixed;
  transform: rotate(0deg);
  writing-mode: vertical-rl;
}
.vertical-text a {
  color: white;
}

.separator {
  height: 1px;
  background-color: #cccccc;
  width: 100%;
}

.links .text-small {
  padding: 48px 48px 0 48px;
}

.hire {
  background-color: #F7EEE6;
  border-radius: 24px;
  border-top-right-radius: 0;
  font-size: 14px;
  padding: 24px;
  position: absolute;
  right: 0;
  top: 24px;
  width: 40%;
}
.hire h3 {
  font-family: "pp_neue_montrealbold", Helvetica, sans-serif;
  font-weight: 700;
  padding-bottom: 3px;
}
.hire ul {
  margin-left: 10px;
}
.hire li {
  padding: 3px 0;
}

/******************************************************
 * 10 Weird shit
 ******************************************************/
.tom-foolery {
  background-color: #cccccc;
  z-index: 1;
}

.tom-foolery-vertical {
  height: 100%;
  top: 0;
  position: absolute;
  width: 1px;
}

.tom-foolery-horizontal {
  height: 1px;
  left: 0;
  position: fixed;
  width: 100%;
}

.tom-foolery-bottom {
  bottom: 24px;
}

.tom-foolery-left {
  left: 24px;
}

.tom-foolery-right {
  right: 24px;
}

.tom-foolery-top {
  top: 24px;
}

.flag-container {
  bottom: 100px;
  left: 15%;
  height: 50px;
  perspective: 150px;
  position: absolute;
  transform-style: preserve-3d;
  width: 100px;
}
@media (max-width: 480px) {
  .flag-container {
    bottom: 75px;
  }
}

.pennant {
  align-items: center;
  animation: wave 3s ease-in-out infinite;
  background-color: #000000;
  color: white;
  display: flex;
  height: 100%;
  position: relative;
  justify-content: center;
  transform-origin: left;
  width: 100%;
}
@media (max-width: 480px) {
  .pennant {
    width: 80px;
  }
}

.pennant::before {
  background: #cccccc;
  height: 75px;
  content: "";
  left: 0;
  bottom: -75px;
  position: absolute;
  width: 1px;
}
@media (max-width: 480px) {
  .pennant::before {
    bottom: -50px;
    height: 50px;
  }
}

.pennant::after {
  content: "";
  position: absolute;
  right: -25px;
  border-left: 25px solid #000000;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
}

.text {
  font-family: "pp_pangaialight", Georgia, serif;
  font-size: 18px;
  padding-left: 12px;
  z-index: 1;
}
@media (max-width: 480px) {
  .text {
    font-size: 16px;
  }
}

#logo {
  background-color: black;
  height: 150px;
  position: absolute;
  transition: left 0.05s linear, top 0.05s linear;
  width: 150px;
}

#scroll-arrow {
  animation: bounce 2s infinite;
  color: #cccccc;
  display: none;
  font-family: "pp_neue_montrealbold", Helvetica, sans-serif;
  font-size: 12px;
  right: 48px;
  top: calc(50% - 10px);
  text-transform: uppercase;
  position: fixed;
}
#scroll-arrow span {
  font-size: 40px;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(-10px);
  }
  60% {
    transform: translateX(-5px);
  }
}
@keyframes wave {
  0%, 100% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(15deg);
  }
}
/**
 * fix this
 *******/
.coverage {
  padding: 36px 0 0 0;
}

.coverage a {
  border-bottom: 1px solid #6c6c6c;
}

.coverage br {
  content: "";
  display: block;
  font-size: 24%;
  margin: 2em;
}

.divider {
  background-color: #cccccc;
  height: 30px;
  margin-right: 10px;
  transform: rotate(65deg);
  width: 1px;
}

.bg-grey {
  background-color: #E9E9E9;
}

.portfolio-bot .image-container img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
}

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uL3Njc3MvbWFpbi5zY3NzIiwiLi4vc2Nzcy9fdmFyaWFibGVzLnNjc3MiLCJtYWluLmNzcyIsIi4uL3Njc3MvYmFzZS9fZm9udHMuc2NzcyIsIi4uL3Njc3MvYmFzZS9fcmVzZXQuc2NzcyIsIi4uL3Njc3MvYmFzZS9fdHlwb2dyYXBoeS5zY3NzIiwiLi4vc2Nzcy9sYXlvdXQvX3NpemVzLnNjc3MiLCIuLi9zY3NzL3BhZ2VzL19oZWFkZXIuc2NzcyIsIi4uL3Njc3MvcGFnZXMvX3BvcnRmb2xpby5zY3NzIiwiLi4vc2Nzcy9wYWdlcy9fcXVvdGUuc2NzcyIsIi4uL3Njc3MvcGFnZXMvX2Fib3V0LnNjc3MiLCIuLi9zY3NzL3BhZ2VzL19lbHNld2hlcmUuc2NzcyIsIi4uL3Njc3MvcGFnZXMvX2Zvb3Rlci5zY3NzIl0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQUFBOzt1REFBQTtBQ3NDQTtFQUNJLCtCQUFBO0FDbENKOztBQ0xBO0VBQ0ksOEJBQUE7RUFDQSw2SEFBQTtFQUVBLG1CQUFBO0VBQ0Esa0JBQUE7QURPSjtBQ0xBO0VBQ0ksc0NBQUE7RUFDQSwySUFBQTtFQUVBLG1CQUFBO0VBQ0Esa0JBQUE7QURNSjtBQ0pBO0VBQ0ksbUNBQUE7RUFDQSxxSUFBQTtFQUVBLG1CQUFBO0VBQ0Esa0JBQUE7QURLSjtBRXhCQTtFQUNJLHNCQUFBO0VBQ0EsU0FBQTtFQUNBLFVBQUE7QUYwQko7O0FFeEJBO0VBQ0ksY0FBQTtFQUNBLDZESEtjO0VHSmQsZUhTVztFR1JYLGFBQUE7RUFDQSxnQkFBQTtFQUNBLGtCQUFBO0VBQ0Esa0JBQUE7QUYyQko7O0FFekJBO0VBQ0ksWUFBQTtFQUNBLHFCQUFBO0FGNEJKOztBRzVDQTtFQUNJLDhDSlVTO0VJVFQsZUFBQTtFQUNBLGdCQUFBO0VBQ0Esa0JBQUE7QUgrQ0o7O0FHNUNBO0VBQ0ksY0pOYztFSU9kLGFBQUE7RUFDQSxlQUFBO0VBQ0EsUUFBQTtFQUNBLHFCQUFBO0VBQ0EseUJBQUE7QUgrQ0o7O0FHNUNBO0VBQ0ksOENKTlM7RUlPVCxlQUFBO0VBQ0EsZ0JBQUE7RUFDQSxxQkFBQTtFQUNBLHFCQUFBO0FIK0NKOztBRzVDQTtFQUNJLGVKUlc7RUlTWCwyREpkYztBQzZEbEI7O0FHNUNBOztFQUVJLDBESmxCbUI7RUltQm5CLGdCQUFBO0FIK0NKOztBRzVDQTtFQUNJLDhDSnpCUztBQ3dFYjs7QUYzRUE7O3VEQUFBO0FBSUM7O3NEQUFBO0FNWkQ7RUFBZ0IsWUwyQkQ7QUNrRWY7O0FJNUZBO0VBQ0ksWUwwQlU7QUNxRWQ7QUk5Rkk7RUFGSjtJQUdRLGFBQUE7RUppR047QUFDRjtBSWhHSTtFQUxKO0lBTVEsYUFBQTtFSm1HTjtBQUNGOztBSWpHQTtFQUFnQixZTG1CRDtBQ2tGZjs7QUlwR0E7RUFDSSxhTGtCVTtBQ3FGZDtBSXRHSTtFQUZKO0lBR1EsYUFBQTtFSnlHTjtBQUNGOztBSXZHQTtFQUNJLGFMYVc7QUM2RmY7QUl6R0k7RUFGSjtJQUdRLGFBQUE7RUo0R047QUFDRjs7QUkxR0E7RUFBYyxZTFNEO0FDcUdiOztBRnBIQTs7dURBQUE7QU9qQkE7RUFDSSxtQkFBQTtFQUVBLGFBQUE7RUFDQSx1QkFBQTtFQUNBLHlCQUFBO0FMMElKO0FLeklJO0VBQ0ksWUFBQTtFQUNBLHFCQUFBO0FMMklSO0FLeklJO0VBQ0ksa0JOV007QUNnSWQ7QUt6SUk7RUFiSjtJQWNRLDBCQUFBO0VMNElOO0VLM0lNO0lBQ0ksZUFBQTtFTDZJVjtBQUNGOztBTTlKQTtFQUVJLGFBQUE7RUFDQSxjQUFBO0FOZ0tKO0FNL0pJO0VBRUksYUFBQTtFQUNBLFlBQUE7RUFDQSxhUGVRO0FDaUpoQjtBTS9KUTtFQUNJLHlCQUFBO0VBQ0EseUJBQUE7QU5pS1o7QU05Skk7RUFDSSxhQUFBO0VBQ0EsYVBPUTtBQ3lKaEI7QU0vSlE7RUFDSSxtQkFBQTtFQUNBLE9BQUE7RUFDQSxnQkFBQTtFQUNBLGFBQUE7RUFDQSx1QkFBQTtFQUNBLFdBQUE7QU5pS1o7QU1oS1k7OztFQUdJLFlBQUE7RUFDQSxvQkFBQTtLQUFBLGlCQUFBO0VBQ0EsV0FBQTtBTmtLaEI7QU05Skk7RUFDSTtJQUNJLGVBQUE7RU5nS1Y7RU05Sk07O0lBRUksZUFBQTtFTmdLVjtFTTlKTTtJQUVJLGFQckJFO0VDb0xaO0FBQ0Y7QU03Skk7RUFFUTtJQUFJLGFBQUE7RU4rSmQ7QUFDRjs7QU0xSkE7RUFDSSxzQkFBQTtBTjZKSjtBTTVKSTtFQUNJLG9CUG5DTTtBQ2lNZDtBTTVKSTtFQUxKO0lBTVEsbUJBQUE7RU4rSk47RU05Sk07SUFDSSxrQlB4Q0U7SU95Q0YsVUFBQTtFTmdLVjtFTTlKTTtJQUNJLGlCQUFBO0lBQ0EsVUFBQTtFTmdLVjtBQUNGOztBTTNKSTtFQUNJLG1CUG5EUTtFT29EUixVQUFBO0FOOEpSO0FNN0pRO0VBQ0ksbUJBQUE7QU4rSlo7QU01Skk7RUFDSSxVQUFBO0FOOEpSO0FNNUpJO0VBQ0k7SUFDSSxtQlAvREU7SU9nRUYsVUFBQTtFTjhKVjtFTTVKTTtJQUNJLFVBQUE7RU44SlY7QUFDRjs7QU16SkE7O0VBQ2lCLDZCQUFBO0FONkpqQjs7QU0zSkk7RUFDSSw2QkFBQTtBTjhKUjtBTTVKSTtFQUNJO0lBQ0ksVUFBQTtFTjhKVjtFTTVKTTtJQUNJLFVBQUE7RU44SlY7QUFDRjtBTTVKSTtFQUNJO0lBQ0ksVUFBQTtFTjhKVjtFTTVKTTtJQUNJLFVBQUE7RU44SlY7QUFDRjs7QU0zSkE7O0VBRUksc0JBQUE7S0FBQSxtQkFBQTtBTjhKSjs7QU0zSkk7RUFDSSxnQkFBQTtBTjhKUjtBTTVKSTtFQUNJLG1CQUFBO0FOOEpSO0FNN0pROztFQUVJLG1CQUFBO0VBQ0EsNEJBQUE7QU4rSlo7QU01Skk7RUFDSTtJQUNJLFVBQUE7RU44SlY7RU01Sk07SUFDSSxVQUFBO0VOOEpWO0FBQ0Y7QU01Skk7RUFDSTtJQUNJLGtCUDFIRTtFQ3dSWjtBQUNGOztBTTFKSTs7RUFFSSwwQkFBQTtLQUFBLHVCQUFBO0FONkpSOztBTXpKSTtFQUNJLGlCQUFBO0VBQ0EsaUJQdElRO0FDa1NoQjtBTTFKSTtFQUNJLDZCQUFBO0VBQ0EsdUJBQUE7S0FBQSxvQkFBQTtBTjRKUjtBTTFKSTtFQUNJO0lBQ0ksa0JQL0lFO0VDMlNaO0FBQ0Y7O0FPbFVBO0VBQ0ksbUJBQUE7RUFFQSxhQUFBO0VBQ0EsOENBQUE7RUFDQSxlQUFBO0VBQ0EsdUJBQUE7RUFDQSxrQkFBQTtFQUNBLGFSdUJXO0FDNlNmO0FPblVJO0VBQ0ksY0FBQTtBUHFVUjtBT25VSTtFQUNJLGNSWFU7QUNnVmxCO0FPblVJO0VBZko7SUFnQlEsZUFBQTtJQUNBLGFBQUE7RVBzVU47RU9yVU07SUFDSSxXQUFBO0VQdVVWO0FBQ0Y7O0FRM1ZBO0VBRUksYUFBQTtFQUNBLGNBQUE7RUFDQSxhVG1CWTtBQzBVaEI7QVE1Vkk7RUFDSSxtQlRnQk07QUM4VWQ7QVEzVkk7RUFUSjtJQVVRLGFUWU07SVNYTixhQUFBO0VSOFZOO0FBQ0Y7QVE3Vkk7RUFDSTtJQUNJLGtCVE9FO0VDd1ZaO0FBQ0Y7O0FTL1dBO0VBRUksYUFBQTtFQUNBLHNCQUFBO0VBQ0EsOEJBQUE7RUFDQSxlQUFBO0FUaVhKO0FTaFhJO0VBQ0kseUJBQUE7QVRrWFI7QVNoWEk7RUFDSSxjQUFBO0VBQ0EsZUFBQTtBVGtYUjtBU2hYSTtFQWJKO0lBY1EsYUFBQTtJQUNBLHNCQUFBO0VUbVhOO0VTbFhNOztJQUVJLGVBQUE7SUFDQSxrQlZHRTtJVUZGLG1CVkVFO0VDa1haO0FBQ0Y7QVNsWEk7RUF2Qko7SUF3QlEsc0JBQUE7SUFDQSxlQUFBO0lBQ0EsYUFBQTtFVHFYTjtFU3BYTTtJQUNJLFlBQUE7RVRzWFY7QUFDRjs7QVVuWkE7RUFDSSx5QlhNVTtFV0xWLDJCQUFBO0VBQ0EsOEJBQUE7RUFDQSxhQUFBO0VBQ0EsWUFBQTtFQUNBLGFYaUJZO0FDcVloQjtBVXJaSTtFQUNJLHVCQUFBO0VBQ0EseUJBQUE7RUFDQSx5QkFBQTtBVnVaUjtBVXJaSTtFQUNJLFlBQUE7QVZ1WlI7O0FGellBOzt1REFBQTtBQUdBO0VBQ0ksYUFBQTtFQUNBLGFBQUE7RUFDQSx1QkFBQTtFQUFBLGtCQUFBO0FFNFlKO0FGM1lJO0VBSko7SUFLUSxjQUFBO0VFOFlOO0FBQ0Y7O0FGM1lBOzt1REFBQTtBQUdDO0VBQ0csT0FBQTtFQUNBLGdCQUFBO0VBQ0EsYUFBQTtFQUNBLG1CQUFBO0VBQ0EsdUJBQUE7RUFDQSxtQkFBQTtFQUNBLFdBQUE7QUU4WUo7QUY3WUk7OztFQUdJLFlBQUE7RUFDQSxvQkFBQTtLQUFBLGlCQUFBO0VBQ0EsV0FBQTtBRStZUjs7QUYzWUE7RUFDSSx5QkNyRFU7RURzRFYsYUFBQTtFQUNBLGVBQUE7RUFDQSxrQkFBQTtFQUNBLHVCQUFBO0VBQ0EsdUJBQUE7RUFDQSx5QkFBQTtBRThZSjtBRjdZSTtFQUNJLFlBQUE7QUUrWVI7O0FGM1lBO0VBQ0ksV0FBQTtFQUNBLHlCQ3ZFZ0I7RUR3RWhCLFdBQUE7QUU4WUo7O0FGNVlBO0VBQ0kseUJBQUE7QUUrWUo7O0FGN1lBO0VBQ0kseUJBQUE7RUFDQSxtQkFBQTtFQUNBLDBCQUFBO0VBQ0EsZUFBQTtFQUNBLGFDL0RVO0VEZ0VWLGtCQUFBO0VBQ0EsUUFBQTtFQUNBLFNBQUE7RUFDQSxVQUFBO0FFZ1pKO0FGL1lJO0VBQ0ksMERDOUVlO0VEK0VmLGdCQUFBO0VBQ0EsbUJBQUE7QUVpWlI7QUYvWUk7RUFDSSxpQkFBQTtBRWlaUjtBRi9ZSTtFQUNJLGNBQUE7QUVpWlI7O0FGN1lBOzt1REFBQTtBQUdBO0VBQ0kseUJDeEdnQjtFRHlHaEIsVUFBQTtBRWdaSjs7QUY5WUE7RUFDSSxZQUFBO0VBQ0EsTUFBQTtFQUNBLGtCQUFBO0VBQ0EsVUFBQTtBRWlaSjs7QUYvWUE7RUFDSSxXQUFBO0VBQ0EsT0FBQTtFQUNBLGVBQUE7RUFDQSxXQUFBO0FFa1pKOztBRmhaQTtFQUFzQixZQUFBO0FFb1p0Qjs7QUZuWkE7RUFBb0IsVUFBQTtBRXVacEI7O0FGdFpBO0VBQXFCLFdBQUE7QUUwWnJCOztBRnpaQTtFQUFtQixTQUFBO0FFNlpuQjs7QUYzWkE7RUFDSSxhQUFBO0VBQ0EsU0FBQTtFQUNBLFlBQUE7RUFDQSxrQkFBQTtFQUNBLGtCQUFBO0VBQ0EsNEJBQUE7RUFDQSxZQUFBO0FFOFpKO0FGN1pJO0VBUko7SUFTUSxZQUFBO0VFZ2FOO0FBQ0Y7O0FGOVpBO0VBQ0ksbUJBQUE7RUFDQSx1Q0FBQTtFQUNBLHlCQUFBO0VBQ0EsWUFBQTtFQUNBLGFBQUE7RUFDQSxZQUFBO0VBQ0Esa0JBQUE7RUFDQSx1QkFBQTtFQUNBLHNCQUFBO0VBQ0EsV0FBQTtBRWlhSjtBRmhhSTtFQVhKO0lBWVEsV0FBQTtFRW1hTjtBQUNGOztBRmphQTtFQUNJLG1CQ3hKZ0I7RUR5SmhCLFlBQUE7RUFDQSxXQUFBO0VBQ0EsT0FBQTtFQUNBLGFBQUE7RUFDQSxrQkFBQTtFQUNBLFVBQUE7QUVvYUo7QUZuYUk7RUFSSjtJQVNRLGFBQUE7SUFDQSxZQUFBO0VFc2FOO0FBQ0Y7O0FGcGFBO0VBQ0ksV0FBQTtFQUNBLGtCQUFBO0VBQ0EsWUFBQTtFQUNBLCtCQUFBO0VBQ0Esa0NBQUE7RUFDQSxxQ0FBQTtBRXVhSjs7QUZwYUE7RUFDSSw4Q0FBQTtFQUNBLGVBQUE7RUFDQSxrQkFBQTtFQUNBLFVBQUE7QUV1YUo7QUZ0YUk7RUFMSjtJQU1RLGVBQUE7RUV5YU47QUFDRjs7QUZ0YUE7RUFDSSx1QkFBQTtFQUNBLGFBQUE7RUFDQSxrQkFBQTtFQUNBLCtDQUFBO0VBQ0EsWUFBQTtBRXlhSjs7QUZ0YUE7RUFDSSw2QkFBQTtFQUNBLGNDak1nQjtFRGtNaEIsYUFBQTtFQUNBLDBEQ3pMbUI7RUQwTG5CLGVBQUE7RUFDQSxXQ2pMWTtFRGtMWixxQkFBQTtFQUNBLHlCQUFBO0VBQ0EsZUFBQTtBRXlhSjtBRnhhSTtFQUNJLGVBQUE7QUUwYVI7O0FGdmFBO0VBQ0k7SUFDSSx3QkFBQTtFRTBhTjtFRnhhRTtJQUNJLDRCQUFBO0VFMGFOO0VGeGFFO0lBQ0ksMkJBQUE7RUUwYU47QUFDRjtBRnZhQTtFQUNJO0lBQVcsd0JBQUE7RUUwYWI7RUZ6YUU7SUFBTSx5QkFBQTtFRTRhUjtBQUNGO0FGemFBOztRQUFBO0FBSUE7RUFDSSxtQkFBQTtBRTBhSjs7QUZ4YUE7RUFDSSxnQ0FBQTtBRTJhSjs7QUZ6YUE7RUFDSSxXQUFBO0VBQ0EsY0FBQTtFQUNBLGNBQUE7RUFDQSxXQUFBO0FFNGFKOztBRnZhQTtFQUNJLHlCQ25QZ0I7RURvUGhCLFlBQUE7RUFDQSxrQkFBQTtFQUNBLHdCQUFBO0VBQ0EsVUFBQTtBRTBhSjs7QUZ2YUE7RUFDSSx5QkFBQTtBRTBhSjs7QUZ2YUk7RUFDSSxvQkFBQTtLQUFBLGlCQUFBO0VBQ0EsMEJBQUE7S0FBQSx1QkFBQTtBRTBhUiIsImZpbGUiOiJtYWluLmNzcyJ9 */