/******************************************************
 * 01 BASE
 ******************************************************/
.elsewhere, .about, .quote, .portfolio__role, .portfolio, .header {
  border-right: 1px solid #cccccc;
}

@font-face {
  font-family: "pp_pangaialight";
  src: url("/assets/pppangaia-light-webfont.woff2") format("woff2"), url("/assets/pppangaia-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "pp_neue_montrealregular";
  src: url("/assets/ppneuemontreal-regular-webfont.woff2") format("woff2"), url("/assets/ppneuemontreal-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "pp_neue_montrealbold";
  src: url("/assets/ppneuemontreal-bold-webfont.woff2") format("woff2"), url("/assets/ppneuemontreal-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #2c2c2c;
  font-family: "pp_neue_montrealregular", Helvetica, sans-serif;
  font-size: 18px;
  height: 100vh;
  line-height: 1.4;
  overflow-y: hidden;
  overflow-x: scroll;
}

a {
  color: black;
  text-decoration: none;
}

h1 {
  font-family: "pp_pangaialight", Georgia, serif;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}

h2 {
  color: #6c6c6c;
  display: flex;
  font-size: 14px;
  gap: 8px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
}

h3 {
  font-family: "pp_pangaialight", Georgia, serif;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 1.4px;
  padding: 4px 0 12px 0;
}

p {
  font-size: 18px;
  font-size: "pp_neue_montrealregular", Helvetica, sans-serif;
}

h2 strong,
p strong {
  font-family: "pp_neue_montrealbold", Helvetica, sans-serif;
  font-weight: 700;
}

.text-serif {
  font-family: "pp_pangaialight", Georgia, serif;
}

/******************************************************
 * 02 COMPONENTS
 ******************************************************/
/******************************************************
* 03 LAYOUTS
******************************************************/
.width-xsmall {
  width: 320px;
}

.width-small {
  width: 480px;
}
@media (max-width: 480px) {
  .width-small {
    width: 100dvw;
  }
}
@media (max-height: 360px) {
  .width-small {
    width: 100dvw;
  }
}

.width-medium {
  width: 768px;
}

.width-large {
  width: 1024px;
}
@media (max-width: 480px) {
  .width-large {
    width: 170dvw;
  }
}

.width-xlarge {
  width: 1280px;
}
@media (max-width: 480px) {
  .width-xlarge {
    width: 170dvw;
  }
}

.width-full {
  width: 100vw;
}

/******************************************************
 * 04 PAGES
 ******************************************************/
.header {
  align-items: center;
  display: flex;
  justify-content: center;
  width: calc(100vw - 24px);
}
.header a {
  color: white;
  text-decoration: none;
}
.header h1 {
  padding-left: 24px;
}
@media (max-width: 480px) {
  .header {
    width: calc(100dvw - 24px);
  }
  .header h1 {
    font-size: 18px;
  }
}

.portfolio {
  display: flex;
  margin: 24px 0;
}
.portfolio__role {
  display: flex;
  height: 100%;
  padding: 48px;
}
.portfolio__role h2 {
  transform: rotate(180deg);
  writing-mode: vertical-rl;
}
.portfolio__content {
  display: flex;
  padding: 48px;
}
.portfolio__content__media {
  align-items: center;
  flex: 1;
  overflow: hidden;
  display: flex;
  justify-content: center;
  width: 100%;
}
.portfolio__content__media picture,
.portfolio__content__media img,
.portfolio__content__media video {
  height: 100%;
  object-fit: cover;
  width: 100%;
}
@media (max-width: 480px) {
  .portfolio h3 {
    font-size: 24px;
  }
  .portfolio h2,
  .portfolio p {
    font-size: 14px;
  }
  .portfolio__role, .portfolio__content {
    padding: 24px;
  }
}
@media (max-height: 400px) {
  .portfolio__content p {
    display: none;
  }
}

.layout-stacked {
  flex-direction: column;
}
.layout-stacked .portfolio__content__media {
  padding-bottom: 24px;
}
@media (max-height: 360px) {
  .layout-stacked {
    flex-direction: row;
  }
  .layout-stacked h3 {
    padding-left: 24px;
    width: 50%;
  }
  .layout-stacked .portfolio__content__media {
    padding-bottom: 0;
    width: 50%;
  }
}

.layout-split .portfolio__content__media {
  padding-right: 48px;
  width: 75%;
}
.layout-split .portfolio__content__media video {
  border-radius: 36px;
}
.layout-split .portfolio__content__text {
  width: 25%;
}
@media (max-width: 480px) {
  .layout-split .portfolio__content__media {
    padding-right: 24px;
    width: 65%;
  }
  .layout-split .portfolio__content__text {
    width: 35%;
  }
}

.onion img,
.onion picture {
  border-top-right-radius: 36px;
}

.vox .portfolio__content__media video {
  border-bottom-right-radius: 0;
}
@media (max-width: 1210px) {
  .vox .portfolio__content__text {
    width: 30%;
  }
  .vox .portfolio__content__media {
    width: 70%;
  }
}
@media (max-height: 620px) {
  .vox .portfolio__content__text {
    width: 40%;
  }
  .vox .portfolio__content__media {
    width: 60%;
  }
}

.nyt .portfolio__content__media img,
.nyt .portfolio__content__media picture {
  object-fit: contain;
}

.usat .portfolio__content__text {
  margin-top: auto;
}
.usat .portfolio__content__media {
  padding: 0 0 0 48px;
}
.usat .portfolio__content__media picture,
.usat .portfolio__content__media img {
  border-radius: 36px;
  border-bottom-left-radius: 0;
}
@media (max-width: 1210px) {
  .usat .portfolio__content__text {
    width: 40%;
  }
  .usat .portfolio__content__media {
    width: 60%;
  }
}
@media (max-width: 480px) {
  .usat .portfolio__content__media {
    padding-left: 24px;
  }
}

.verge .portfolio__content__media img,
.verge .portfolio__content__media picture {
  object-position: bottom;
}

.nytmag .portfolio__content__media {
  padding-bottom: 0;
  padding-top: 48px;
}
.nytmag .portfolio__content__media video {
  border-top-right-radius: 36px;
  object-position: top;
}
@media (max-height: 360px) {
  .nytmag .portfolio__content__media {
    padding-left: 24px;
  }
}

.quote {
  align-items: center;
  display: flex;
  font-family: "pp_pangaialight", Georgia, serif;
  font-size: 32px;
  justify-content: center;
  padding: 48px 64px;
  width: 1280px;
}
.quote blockquote {
  max-width: 65%;
}
.quote cite a {
  color: #6c6c6c;
}
@media (max-width: 480px) {
  .quote {
    font-size: 24px;
    width: 150dvw;
  }
  .quote blockquote {
    width: 100%;
  }
}

.about {
  display: flex;
  margin: 24px 0;
  padding: 48px;
}
.about h2 {
  margin-bottom: 24px;
}
@media (max-width: 480px) {
  .about {
    padding: 24px;
    width: 100dvw;
  }
}
@media (max-height: 360px) {
  .about p {
    padding-left: 24px;
  }
}

.elsewhere {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 48px 0;
}
.elsewhere h2 {
  padding: 24px 48px 0 48px;
}
.elsewhere a {
  display: block;
  padding: 0 48px;
}
@media (max-width: 480px) {
  .elsewhere {
    width: 100dvw;
    padding: 24px 0 48px 0;
  }
  .elsewhere h2,
  .elsewhere a {
    font-size: 16px;
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media (max-height: 360px) {
  .elsewhere {
    flex-direction: column;
    flex-wrap: wrap;
    width: 100dvw;
  }
  .elsewhere p {
    width: 50dvw;
  }
}

.footer {
  background-color: #575b3e;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  display: flex;
  height: 100%;
  padding: 48px;
}
.footer p {
  text-orientation: mixed;
  transform: rotate(180deg);
  writing-mode: vertical-rl;
}
.footer a {
  color: white;
}

/******************************************************
 * 03 Sections
 ******************************************************/
.container {
  display: flex;
  height: 100vh;
  width: max-content;
}
@media (pointer: coarse) {
  .container {
    height: 100svh;
  }
}

/******************************************************
 * 09 About
 ******************************************************/
.image-container {
  flex: 1;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0 24px 0;
  width: 100%;
}
.image-container picture,
.image-container img,
.image-container video {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.vertical-text {
  background-color: #575b3e;
  height: 100vh;
  padding: 0 48px;
  text-align: center;
  text-orientation: mixed;
  transform: rotate(0deg);
  writing-mode: vertical-rl;
}
.vertical-text a {
  color: white;
}

.separator {
  height: 1px;
  background-color: #cccccc;
  width: 100%;
}

.links .text-small {
  padding: 48px 48px 0 48px;
}

.hire {
  background-color: #F7EEE6;
  border-radius: 24px;
  border-top-right-radius: 0;
  font-size: 14px;
  padding: 24px;
  position: absolute;
  right: 0;
  top: 24px;
  width: 40%;
}
.hire h3 {
  font-family: "pp_neue_montrealbold", Helvetica, sans-serif;
  font-weight: 700;
  padding-bottom: 3px;
}
.hire ul {
  margin-left: 10px;
}
.hire li {
  padding: 3px 0;
}

/******************************************************
 * 10 Weird shit
 ******************************************************/
.tom-foolery {
  background-color: #cccccc;
  z-index: 1;
}

.tom-foolery-vertical {
  height: 100%;
  top: 0;
  position: absolute;
  width: 1px;
}

.tom-foolery-horizontal {
  height: 1px;
  left: 0;
  position: fixed;
  width: 100%;
}

.tom-foolery-bottom {
  bottom: 24px;
}

.tom-foolery-left {
  left: 24px;
}

.tom-foolery-right {
  right: 24px;
}

.tom-foolery-top {
  top: 24px;
}

.flag-container {
  bottom: 100px;
  left: 15%;
  height: 50px;
  perspective: 150px;
  position: absolute;
  transform-style: preserve-3d;
  width: 100px;
}
@media (max-width: 480px) {
  .flag-container {
    bottom: 75px;
  }
}

.pennant {
  align-items: center;
  animation: wave 3s ease-in-out infinite;
  background-color: #575b3e;
  color: white;
  display: flex;
  height: 100%;
  position: relative;
  justify-content: center;
  transform-origin: left;
  width: 100%;
}
@media (max-width: 480px) {
  .pennant {
    width: 80px;
  }
}

.pennant::before {
  background: #cccccc;
  height: 75px;
  content: "";
  left: 0;
  bottom: -75px;
  position: absolute;
  width: 1px;
}
@media (max-width: 480px) {
  .pennant::before {
    bottom: -50px;
    height: 50px;
  }
}

.pennant::after {
  content: "";
  position: absolute;
  right: -25px;
  border-left: 25px solid #575b3e;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
}

.text {
  font-family: "pp_pangaialight", Georgia, serif;
  font-size: 18px;
  padding-left: 12px;
  z-index: 1;
}
@media (max-width: 480px) {
  .text {
    font-size: 16px;
  }
}

#logo {
  background-color: black;
  height: 150px;
  position: absolute;
  transition: left 0.05s linear, top 0.05s linear;
  width: 150px;
}

#scroll-arrow {
  animation: bounce 2s infinite;
  color: #cccccc;
  display: none;
  font-family: "pp_neue_montrealbold", Helvetica, sans-serif;
  font-size: 12px;
  right: 48px;
  top: calc(50% - 10px);
  text-transform: uppercase;
  position: fixed;
}
#scroll-arrow span {
  font-size: 40px;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(-10px);
  }
  60% {
    transform: translateX(-5px);
  }
}
@keyframes wave {
  0%, 100% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(15deg);
  }
}
/**
 * fix this
 *******/
.coverage {
  padding: 36px 0 0 0;
}

.coverage a {
  border-bottom: 1px solid #6c6c6c;
}

.coverage br {
  content: "";
  display: block;
  font-size: 24%;
  margin: 2em;
}

.divider {
  background-color: #cccccc;
  height: 30px;
  margin-right: 10px;
  transform: rotate(65deg);
  width: 1px;
}

.bg-grey {
  background-color: #E9E9E9;
}

.portfolio-bot .image-container img {
  object-fit: cover;
  object-position: bottom;
}

/*# sourceMappingURL=main.css.map */
